.button-div{
    display: flex;
    
    justify-content: flex-end;
    margin: 20px;
}

.button{
    background-color: brown;
    color: wheat;
    font-size: large;
    border-radius: 8px;
    margin: 10px;
}

.total {
    margin-left: 20px;
}