.background{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
     
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-box{
    background-color: aliceblue;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    
    width: 500px;
    max-height: 400px;
    border-radius: 12px;
    
}
